body{
    background: #2A677C;
}

.alerta{
    position: absolute;
    width: 15%;
    height: 30%;
    top: 30%;
    right: 43%;
}
.msj{
    position: absolute;
    top: 62%;
    right: 20%;
    font-size: 150%;
    color: white;
}

.msj2{
    position: absolute;
    top: 68%;
    right: 33%;
    font-size: 150%;
    color: white;
}

.Contacto{
    position: absolute;
    top: 75%;
    right: 40%;
    font-size: 150%;
    color: rgb(9, 231, 247);
}

.Contacto a {
    text-decoration: none;
    color:  rgb(9, 231, 247); /* Color del enlace */
    transition: border-bottom 0.3s ease; /* Transición para el hover */
}

/* Estilo para el estado hover */
.Contacto a:hover {
    border-bottom: 2px solid rgb(10, 155, 165); /* Línea debajo del enlace al pasar el cursor */
    text-decoration:underline;

}


.Regresar{
    background: #0E3C54;
    position: absolute;
    top: 87%;
    right: 46%;
    border-radius: 30px;
    color: White;
    cursor: pointer;
    border: unset;
    padding: 10px 30px;
    font-weight: bold;
}

.Regresar:hover{
    background: #a6d3e2; 
}

.logo-nexus {
    position: absolute;
    top: calc(100% - 95%);
    left: calc(100% - 70%);
    width: calc(100% - 94%); 
    height: auto; 
}

.logo-nombrenexus {
    position: absolute;
    top: calc(100% - 95%);
    left: calc(100% - 60%);
    width: calc(100% - 75%); 
    height: auto; 
}

.logo-tecnm {
    position: absolute;
    top: calc(100% - 94%);
    left: calc(100% - 98%);
    width: calc(100% - 90%); 
    height: auto;  
}

.logo-ittepic {
    position: absolute;
    top: calc(100% - 95%);
    right: calc(100% - 99%);
    width: calc(100% - 94%); 
    height: auto; 
}

.top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
    position: center;
    top: 0;
    left: 0;
    padding-left: calc(100% - 50%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
    padding-top: 10%;
    width: 50%;
    height: 0px; /* 20% de la pantalla */
    background-color: #202d35; /* Color para el 20% */
}
