body{
    background: linear-gradient(to bottom, #202D35 50%, #2A677C 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}
p{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}