body {
    max-width: 100vw; /* Establece el ancho máximo del cuerpo al ancho máximo de la ventana del navegador */
    max-height: 100vh; /* Establece la altura máxima del cuerpo a la altura máxima de la ventana del navegador */
    margin: 0;
    overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    overflow-x: hidden; 
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center; 
    position: relative;
    color: #ffffff;
    min-height: 100vh; 
    background-color: #2A677C;
    zoom: reset;
}

.container {
    width: 100%;
    height: 100vh; /* Establece la altura del contenedor para ocupar el 100% del viewport height */
    overflow: hidden; /* Oculta el contenido que se desborda */
    display: flex;
    flex-direction: column;
}

@media (max-width: 650px){
    .logo-nexus {
        position: absolute;
        top: 1%;
        left: 2%;
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .logo-nombrenexus {
        position: absolute;
        top: calc(100% - 95%);
        left: calc(100% - 60%);
        width: calc(100% - 75%); 
        height: auto; 
    }
    
    .logo-tecnm {
        position: absolute;
        top: calc(100% - 94%);
        left: calc(100% - 99.5%);
        width: calc(100% - 90%); 
        height: auto;  
    }
    
    .logo-ittepic {
        position: absolute;
        top: calc(100% - 95%);
        right: calc(100% - 99%);
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
        position: absolute;
        top: 0;
        left: 0;
        padding-left: calc(100% - 55%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 300px; 
        background-color: #202d35; /* Color para el 20% */
        bottom: 0;
        padding-top: 2%;
        font-size: 5px;
    }

    .bottom-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 15%;
        padding-top: 1%;
        padding-left: 2%;
        width: 83%;
        height: 100%; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    }
    
    .bottom-section::-webkit-scrollbar {
        width: 12%; /* Ancho de la barra de desplazamiento */
    }

    .bottom-section::-webkit-scrollbar-thumb {
        background-color: #385c74; /* Color de la barra de desplazamiento */
        border-radius: 10%; /* Radio de la esquina de la barra de desplazamiento */
    }

    .left-section { /* CONTENEDOR PARTE AZUL DE LA IZQUIERDA*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 0px;
        width: 15%;
        height: 100%; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: calc(100% - 99%); /* Espacio arriba para separar cada opción de perfil*/
    }

    .left-section a {
        color: white;
        font-size: 40%;
        padding-left: calc(100% - 70%);
        text-decoration: none; /* Quita el subrayado predeterminado */
        display: block;
        margin-bottom: calc(100% - 80%); /* Espacio entre cada enlace */
        margin-top: calc(100% - 95%);
    }

    .left-section a:hover {
        left: calc(100%- 70%);
        text-decoration: underline; /* Añade subrayado al pasar el ratón */
        padding-left: calc(100%- 70%);
        font-size: (100% - 95%);
    }

    
    .fotosperfil {
        position: absolute;
        top: calc(100% - 98%);
        left: calc(100% - 95%);
        width: calc(100% - 80%); 
        height: auto;
        margin-bottom: calc(100% - 85%); 
        padding-top: calc(100% - 99%);
    }
    
    .add-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 200px;
        padding-left: 430px;
        width: 1200px;
        height: 512.8px; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
    }

    .fotosarchivo {
        position: absolute;
        top: 60px;
        left: 400px;
        width: 125px; 
        height: auto; 
    }

    button { /* ESTE BOTON ES PARA SUBIR ARCHIVO*/
        background: none; /* Elimina el fondo */
        border: none; /* Elimina el borde */
        padding: 0; /* Elimina el relleno */
        cursor: pointer;
        position: absolute;
        top: 350px;
        left: 510px;
        width: 150px; 
        height: auto; 
        text-align: center; /* Alinea el texto del botón al centro */
    }

    span { /* ESTE BOTON ES PARA SUBIR ARCHIVO*/
        background: none; /* Elimina el fondo */
        border: none; /* Elimina el borde */
        padding: 0; /* Elimina el relleno */
        cursor: pointer;
        position: absolute;
        top: 350px;
        left: 510px;
        width: 150px; 
        height: auto; 
        text-align: center; /* Alinea el texto del botón al centro */
    }

    button:hover {
        background-color: #005fcc00;
    }

    /* Estilo cuando se hace clic */
    button:active {
        transform: translateY(1px); /* Mueve el botón hacia abajo un poco al hacer clic */
    }


    /* Estilos para el texto en los combobox */
    select {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #747272; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }

    /* Estilos para las opciones del combobox */
    option {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #575656; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }

}

@media(min-width: 651px) and (max-width:1799px){
    .logo-nexus {
        position: absolute;
        top: calc(100% - 97.5%);
        left: 2%;
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .logo-nombrenexus {
        position: absolute;
        top: calc(100% - 95%);
        left: calc(100% - 60%);
        width: calc(100% - 75%); 
        height: auto; 
    }
    
    .logo-tecnm {
        position: absolute;
        top: calc(100% - 94%);
        left: calc(100% - 99.5%);
        width: calc(100% - 90%); 
        height: auto;  
    }
    
    .logo-ittepic {
        position: absolute;
        top: calc(100% - 95%);
        right: calc(100% - 99%);
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
        position: absolute;
        top: 0;
        left: 0;
        padding-left: calc(100% - 55%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 150px; 
        background-color: #202d35; /* Color para el 20% */
        bottom: 0;
        padding-top: 2%;
    }
    

    .bottom-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        top: 20%; /* Empezando después del 20% */
        left: 15%;
        width: 100%;
        height: 100%;
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        flex: 1 0 auto;
        overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    }
    
    .bottom-section::-webkit-scrollbar {
        width: 12%; /* Ancho de la barra de desplazamiento */
    }

    .bottom-section::-webkit-scrollbar-thumb {
        background-color: #385c74; /* Color de la barra de desplazamiento */
        border-radius: 10%; /* Radio de la esquina de la barra de desplazamiento */
    }
    
    
    .left-section { /* CONTENEDOR PARTE AZUL DE LA IZQUIERDA*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        width: 15%;
        height: 100%;
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: calc(100% - 99%); /* Espacio arriba para separar cada opción de perfil*/
        flex-direction: column; /* Alinea los elementos en una columna */

    }

    .left-section a {
        color: white;
        font-size: (100% - 95%);
        padding-left: calc(100% - 70%);
        text-decoration: none; /* Quita el subrayado predeterminado */
        display: block;
        margin-bottom: calc(100% - 80%); /* Espacio entre cada enlace */
        margin-top: calc(100% - 95%);
    }

    .left-section a:hover {
        left: calc(100%- 70%);
        text-decoration: underline; /* Añade subrayado al pasar el ratón */
        padding-left: calc(100%- 70%);
        font-size: (100% - 95%);
    }
    
    .fotosperfil {
        position: absolute;
        top: calc(100% - 98%);
        left: calc(100% - 95%);
        width: calc(100% - 80%); 
        height: auto;
        margin-bottom: calc(100% - 85%); 
        padding-top: calc(100% - 99%);
    }
    
    .add-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 10%;
        padding-left: 430px;
        width: 1200px;
        height: 512.8px; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
    }

    .fotosarchivo {
        position: absolute;
        top: 60px;
        left: 400px;
        width: 125px; 
        height: auto; 
    }

    span { /* ESTE BOTON ES PARA SUBIR ARCHIVO*/
        background: none; /* Elimina el fondo */
        border: none; /* Elimina el borde */
        padding: 0; /* Elimina el relleno */
        cursor: pointer;
        position: absolute;
        top: 350px;
        left: 510px;
        width: 150px; 
        height: auto; 
        text-align: center; /* Alinea el texto del botón al centro */
    }

    /* Estilos para el texto en los combobox */
    select {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #747272; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }

    /* Estilos para las opciones del combobox */
    option {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #575656; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }

    button {
        background-color: #35B6E3;
        color: white;
        cursor: pointer;
        transition: background-color 0.5s;
        height: 40px;
        width: 380px; /* Ajuste del ancho del botón */
        text-align: center; /* Alinea el texto del botón al centro */
        margin-top: 50px;
        margin-left: -110px;
        border-radius: 50px;
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 20px; /* Cambiar el tamaño del texto */
    }

    button:hover {
        background-color: #005fcc;
    }

    /* Estilo cuando se hace clic */
    button:active {
        transform: translateY(1px); /* Mueve el botón hacia abajo un poco al hacer clic */
    }

    buttonback {
        background-color: #35B6E3;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        height: 30px;
        width: calc(50% - 10px); /* Ajuste del ancho del botón */
        border-radius: 50%; /* Para hacer el botón circular */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .back-button {
        position: absolute;
        bottom: 70px; /* Distancia desde la parte inferior */
        left: -260px; /* Distancia desde la parte izquierda */
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
    }
}


@media(min-width: 1800px){
    .logo-nexus {
        position: absolute;
        top: 1%;
        left: 2%;
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .logo-nombrenexus {
        position: absolute;
        top: calc(100% - 95%);
        left: calc(100% - 60%);
        width: calc(100% - 75%); 
        height: auto; 
    }
    
    .logo-tecnm {
        position: absolute;
        top: calc(100% - 94%);
        left: calc(100% - 99.5%);
        width: calc(100% - 90%); 
        height: auto;  
    }
    
    .logo-ittepic {
        position: absolute;
        top: calc(100% - 95%);
        right: calc(100% - 99%);
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
        position: absolute;
        top: 0;
        left: 0;
        padding-left: calc(100% - 55%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 300px; 
        background-color: #202d35; /* Color para el 20% */
        bottom: 0;
        padding-top: 2%;
        font-size: 5px;
    }

    .bottom-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 15%;
        padding-top: 1%;
        padding-left: 2%;
        width: 83%;
        height: 100%; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    }
    
    .bottom-section::-webkit-scrollbar {
        width: 12%; /* Ancho de la barra de desplazamiento */
    }

    .bottom-section::-webkit-scrollbar-thumb {
        background-color: #385c74; /* Color de la barra de desplazamiento */
        border-radius: 10%; /* Radio de la esquina de la barra de desplazamiento */
    }

    .left-section { /* CONTENEDOR PARTE AZUL DE LA IZQUIERDA*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 0px;
        width: 15%;
        height: 100%; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: calc(100% - 99%); /* Espacio arriba para separar cada opción de perfil*/
    }

    .left-section a {
        color: white;
        font-size: 40%;
        padding-left: calc(100% - 70%);
        text-decoration: none; /* Quita el subrayado predeterminado */
        display: block;
        margin-bottom: calc(100% - 80%); /* Espacio entre cada enlace */
        margin-top: calc(100% - 95%);
    }

    .left-section a:hover {
        left: calc(100%- 70%);
        text-decoration: underline; /* Añade subrayado al pasar el ratón */
        padding-left: calc(100%- 70%);
        font-size: (100% - 95%);
    }

    
    .fotosperfil {
        position: absolute;
        top: calc(100% - 98%);
        left: calc(100% - 95%);
        width: calc(100% - 80%); 
        height: auto;
        margin-bottom: calc(100% - 85%); 
        padding-top: calc(100% - 99%);
    }
    
    .add-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 200px;
        padding-left: 430px;
        width: 1200px;
        height: 512.8px; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
    }

    .fotosarchivo {
        position: absolute;
        top: 60px;
        left: 400px;
        width: 125px; 
        height: auto; 
    }

    button { /* ESTE BOTON ES PARA SUBIR ARCHIVO*/
        background: none; /* Elimina el fondo */
        border: none; /* Elimina el borde */
        padding: 0; /* Elimina el relleno */
        cursor: pointer;
        position: absolute;
        top: 350px;
        left: 510px;
        width: 150px; 
        height: auto; 
        text-align: center; /* Alinea el texto del botón al centro */
    }

    span { /* ESTE BOTON ES PARA SUBIR ARCHIVO*/
        background: none; /* Elimina el fondo */
        border: none; /* Elimina el borde */
        padding: 0; /* Elimina el relleno */
        cursor: pointer;
        position: absolute;
        top: 350px;
        left: 510px;
        width: 150px; 
        height: auto; 
        text-align: center; /* Alinea el texto del botón al centro */
    }

    button:hover {
        background-color: #005fcc00;
    }

    /* Estilo cuando se hace clic */
    button:active {
        transform: translateY(1px); /* Mueve el botón hacia abajo un poco al hacer clic */
    }


    /* Estilos para el texto en los combobox */
    select {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #747272; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }

    /* Estilos para las opciones del combobox */
    option {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #575656; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }

}

