body {
    max-width: 100vw; /* Establece el ancho máximo del cuerpo al ancho máximo de la ventana del navegador */
    max-height: 100vh; /* Establece la altura máxima del cuerpo a la altura máxima de la ventana del navegador */
    margin: 0;
    overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    overflow-x: hidden; 
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center; 
    position: relative;
    color: white;
    min-height: 100vh; 
    zoom: reset;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta el contenido que se desborda */
    display: flex;
    flex-direction: column;
}


@media (max-width: 650px){
    .logo-nexus {
        position: absolute;
        top: 1%;
        left: 2%;
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .logo-nombrenexus {
        position: absolute;
        top: calc(100% - 95%);
        left: calc(100% - 60%);
        width: calc(100% - 75%); 
        height: auto; 
    }
    
    .logo-tecnm {
        position: absolute;
        top: calc(100% - 94%);
        left: calc(100% - 99.5%);
        width: calc(100% - 90%); 
        height: auto;  
    }
    
    .logo-ittepic {
        position: absolute;
        top: calc(100% - 95%);
        right: calc(100% - 99%);
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
        position: absolute;
        top: 0;
        left: 0;
        padding-left: calc(100% - 55%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 300px; 
        background-color: #202d35; /* Color para el 20% */
        bottom: 0;
        padding-top: 2%;
        font-size: 5px;
    }
    
    .opciones { /* CONTENEDOR PARTE AZUL DE OPCIONES*/
        position: absolute;
        top: 12%;
        left: 0;
        padding-left: calc(100% - 50%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 9%; 
        background-color: #65A7D3; /* Color para el 20% */
        z-index: 9999;
        align-items: center;
        display: flex; /* Cambiar el modelo de diseño a flexbox */
        justify-content: center; /* Centrar horizontalmente los elementos */
    }
    
    .bottom-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 15%;
        padding-top: 1%;
        padding-left: 2%;
        width: 83%;
        height: 100%; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    }
    
    .bottom-section::-webkit-scrollbar {
        width: 12%; /* Ancho de la barra de desplazamiento */
    }

    .bottom-section::-webkit-scrollbar-thumb {
        background-color: #385c74; /* Color de la barra de desplazamiento */
        border-radius: 10%; /* Radio de la esquina de la barra de desplazamiento */
    }

    .fotosarchivo { 
        max-width: none; /* Asegura que la imagen respete el ancho fijo */
        width: 90%; 
        height: 15%;
        
    }
    
    input[type="archivo"]{
        border: 1px solid #ccc;
        border-radius: 30px;
        margin-left: 27%;
        padding: 10px;
        border: 1px solid #ccc;
    }

    
    input[type="archivo"],
    button {
        border: none;
        background-color: none;
        border-radius: 50px;
        margin-bottom: 0.5%;
        padding: 5px 10px;
        height: 10px;
        width: calc(100% - 60%);
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño de la letra */
        margin-top: 1%;
    }

    input[type="archivo"]:focus,
    button:focus {
        outline: none;
        background-color: none;

    }

    
    h4{
        background-color: #65A7D3;
        color:rgb(255, 255, 255);
        cursor: pointer;
        transition: background-color 0.5s;
        text-align: absolute; /* Alinea el texto del botón al centro */
        border-radius: 50px;
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 99%; /* Cambiar el tamaño del texto */
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 9999;
        height: 10%; 
        width: auto;  
        left: -37%;
    }

    .left-section { /* CONTENEDOR PARTE AZUL DE LA IZQUIERDA*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 0px;
        width: 15%;
        height: 100%; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: calc(100% - 99%); /* Espacio arriba para separar cada opción de perfil*/
    }

    .left-section a {
        color: white;
        font-size: 40%;
        padding-left: calc(100% - 70%);
        text-decoration: none; /* Quita el subrayado predeterminado */
        display: block;
        margin-bottom: calc(100% - 80%); /* Espacio entre cada enlace */
        margin-top: calc(100% - 95%);
    }

    .left-section a:hover {
        left: calc(100%- 70%);
        text-decoration: underline; /* Añade subrayado al pasar el ratón */
        padding-left: calc(100%- 70%);
        font-size: (100% - 95%);
    }

    
    .fotosperfil {
        position: absolute;
        top: calc(100% - 98%);
        left: calc(100% - 95%);
        width: calc(100% - 80%); 
        height: auto;
        margin-bottom: calc(100% - 85%); 
        padding-top: calc(100% - 99%);
    }
    
    
    /* Estilos para las opciones del combobox */
    option {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #575656; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }
    
    .center-section { /* CONTENEDOR PARTE AZUL DEL CENTRO EN CATEGORIAS*/
        position: absolute;
        top: 0px; /* Empezando después del 20% */
        left: 135px;
        width: 590px;
        height: 512.8px; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
        padding-left: 300px;
    }
    
    .center-sectionwhite { /* CONTENEDOR PARTE BLANCA DEL CENTRO EN CATEGORIAS*/
        position: absolute;
        top: 100px; /* Empezando después del 20% */
        left: 30px;
        width: 520px;
        height: 530px; /* 80% de la pantalla */
        background-color: #ffffffe1; /* Color para el 80% */
        padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
        padding-left: 310px;
    }
    
    
    labeln{
        left: 13%;
        margin-left: 15%;
        font-weight: bold;
    }

    
    .carreracombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 50.5%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        margin-top: 2%;
        margin-right: 2%;
    }


    
    label {
        margin-left: 15%; /* Espacio entre el label y el combo */
        margin-top: 2%;
        margin-right: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .semestrecombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 90%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        align-items: center; 
        display: flex;
        margin-left: 2%;

    }

    .label1{
        margin-left: 55%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .materiacombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 50px; /* Ajusta el ancho según sea necesario */
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        display: flex;
        align-items: center;
        margin-left: 2%;
    }
    

    .semestremateria{
        display: flex; 
        margin-left: 13.5%;
        font-weight: bold; /* Aplica negrita al texto */
        margin-top: 2%;
    }
    
    .label2 {
        margin-right: 30px; /* Espacio entre el label y el combo */
        margin-top: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }
    
    .label3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .categoriacombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height:40px;
        width: 59%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        align-items: center; 
        margin-top: 1%;
        display: flex;
        margin-left: 0%;
    
    }

    .categoriaizq {
       margin-left: 15%;
       display: flex;
       align-items: center; 
       font-weight: bold; /* Aplica negrita al texto */
        margin-top: 1%;
    }

    .buttonimg{
        display: inline-block; 
        margin-left: 0px;
        height: 48px; 
        width: 60px;
        top: 10%;
    }

    button {
        background-color: #65A7D3;
        color:rgb(255, 255, 255);
        cursor: pointer;
        transition: background-color 0.5s;
        text-align: center; /* Alinea el texto del botón al centro */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 25px; /* Cambiar el tamaño del texto */
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50px;
        width: 200px;
        height:35px; 
        margin-left: 35%;
        margin-top: 3%;
        transition: transform 0.5s ease;

    }

    button:hover {
        background-color: #3e6681;
    }
    
    
    /* Estilo cuando se hace clic */
    button:active {
        transform: translateY(1px); /* Mueve el botón hacia abajo un poco al hacer clic */
    }

    .bottom-section a{
        font-weight: bold;
        text-decoration: none; /* Quita el subrayado predeterminado */
        color:white;
        align-items: center;
    }

    .bottom-section a:hover{
        text-decoration: underline;
    }
    
}

@media(min-width: 651px) and (max-width:1799px){
    .logo-nexus {
        position: absolute;
        top: calc(100% - 97.5%);
        left: 2%;
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .logo-nombrenexus {
        position: absolute;
        top: calc(100% - 95%);
        left: calc(100% - 60%);
        width: calc(100% - 75%); 
        height: auto; 
    }
    
    .logo-tecnm {
        position: absolute;
        top: calc(100% - 94%);
        left: calc(100% - 99.5%);
        width: calc(100% - 90%); 
        height: auto;  
    }
    
    .logo-ittepic {
        position: absolute;
        top: calc(100% - 95%);
        right: calc(100% - 99%);
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
        position: absolute;
        top: 0;
        left: 0;
        padding-left: calc(100% - 55%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 150px; 
        background-color: #202d35; /* Color para el 20% */
        bottom: 0;
        padding-top: 2%;
    }
    
    .opciones { /* CONTENEDOR PARTE AZUL DE OPCIONES*/
        position: absolute;
        top: 12%;
        left: 0;
        padding-left: calc(100% - 50%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 9%; 
        background-color: #65A7D3; /* Color para el 20% */
        z-index: 9999;
        align-items: center;
        display: flex; /* Cambiar el modelo de diseño a flexbox */
        justify-content: center; /* Centrar horizontalmente los elementos */
    }
    
    .bottom-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 15%;
        padding-top: 1%;
        padding-left: 2%;
        width: 83%;
        height: 100%; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    }
    
    .bottom-section::-webkit-scrollbar {
        width: 12%; /* Ancho de la barra de desplazamiento */
    }

    .bottom-section::-webkit-scrollbar-thumb {
        background-color: #385c74; /* Color de la barra de desplazamiento */
        border-radius: 10%; /* Radio de la esquina de la barra de desplazamiento */
    }

    input[type="archivo"]{
        border: 1px solid #ccc;
        border-radius: 30px;
        margin-left: 1%;
        padding: 10px;
        border: 1px solid #ccc;
    }

    
    input[type="archivo"],
    button {
        border: none;
        background-color: none;
        border-radius: 50px;
        margin-bottom: 0.5%;
        padding: 5px 10px;
        height: 30px;
        width: 41%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño de la letra */
        margin-top: 1%;
    }

    input[type="archivo"]:focus,
    button:focus {
        outline: none;
        background-color: none;

    }

    
    h4{
        background-color: #65A7D3;
        color:rgb(255, 255, 255);
        cursor: pointer;
        transition: background-color 0.5s;
        text-align: absolute; /* Alinea el texto del botón al centro */
        border-radius: 50px;
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 99%; /* Cambiar el tamaño del texto */
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 9999;
        height: 10%; 
        width: auto;  
        left: -37%;
    }
    
    .left-section { /* CONTENEDOR PARTE AZUL DE LA IZQUIERDA*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 0px;
        width: 15%;
        height: 100%; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: calc(100% - 99%); /* Espacio arriba para separar cada opción de perfil*/
    }

    .left-section a {
        color: white;
        font-size: (100% - 95%);
        padding-left: calc(100% - 70%);
        text-decoration: none; /* Quita el subrayado predeterminado */
        display: block;
        margin-bottom: calc(100% - 80%); /* Espacio entre cada enlace */
        margin-top: calc(100% - 95%);
    }

    .left-section a:hover {
        left: calc(100%- 70%);
        text-decoration: underline; /* Añade subrayado al pasar el ratón */
        padding-left: calc(100%- 70%);
        font-size: (100% - 95%);
    }

    
    .fotosperfil {
        position: absolute;
        top: calc(100% - 98%);
        left: calc(100% - 95%);
        width: calc(100% - 80%); 
        height: auto;
        margin-bottom: calc(100% - 85%); 
        padding-top: calc(100% - 99%);
    }
    
    /* Estilos para el texto en los combobox */
    select {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #747272; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }
    
    /* Estilos para las opciones del combobox */
    option {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #575656; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }
    
    .center-section { /* CONTENEDOR PARTE AZUL DEL CENTRO EN CATEGORIAS*/
        position: absolute;
        top: 0px; /* Empezando después del 20% */
        left: 135px;
        width: 590px;
        height: 512.8px; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
        padding-left: 300px;
    }
    
    labeln{
        left: 13%;
        margin-left: 15%;
        font-weight: bold;
    }

    
    .carreracombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 50.5%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        margin-top: 2%;
        margin-right: 2%;
    }


    
    label {
        margin-left: 15%; /* Espacio entre el label y el combo */
        margin-top: 2%;
        margin-right: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .semestrecombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 90%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        align-items: center; 
        display: flex;
        margin-left: 2%;

    }

    .label1{
        margin-left: 55%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .materiacombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 50px; /* Ajusta el ancho según sea necesario */
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        display: flex;
        align-items: center;
        margin-left: 2%;
    }
    

    .semestremateria{
        display: flex; 
        margin-left: 13.5%;
        font-weight: bold; /* Aplica negrita al texto */
        margin-top: 2%;
    }
    
    .label2 {
        margin-right: 30px; /* Espacio entre el label y el combo */
        margin-top: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }
    
    .label3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .categoriacombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height:40px;
        width: 59%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        align-items: center; 
        margin-top: 1%;
        display: flex;
        margin-left: 0%;
    
    }

    .categoriaizq {
       margin-left: 15%;
       display: flex;
       align-items: center; 
       font-weight: bold; /* Aplica negrita al texto */
        margin-top: 1%;
    }

    .buttonimg{
        display: inline-block; 
        margin-left: 0px;
        height: 48px; 
        width: 60px;
        top: 10%;
    }

    button {
        background-color: #65A7D3;
        color:rgb(255, 255, 255);
        cursor: pointer;
        transition: background-color 0.5s;
        text-align: center; /* Alinea el texto del botón al centro */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 25px; /* Cambiar el tamaño del texto */
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50px;
        width: 200px;
        height:35px; 
        margin-left: 35%;
        margin-top: 3%;
        transition: transform 0.5s ease;

    }

    button:hover {
        background-color: #3e6681;
    }
    
    
    /* Estilo cuando se hace clic */
    button:active {
        transform: translateY(2px); /* Mueve el botón hacia abajo un poco al hacer clic */
    }


    .bottom-section a{
        font-weight: bold;
        text-decoration: none; /* Quita el subrayado predeterminado */
        color:white;
        align-items: center;
    }

    .bottom-section a:hover{
        text-decoration: underline;
    }
}

@media(min-width: 1800px){
    .logo-nexus {
        position: absolute;
        top: calc(100% - 97.5%);
        left: 2%;
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .logo-nombrenexus {
        position: absolute;
        top: calc(100% - 95%);
        left: calc(100% - 60%);
        width: calc(100% - 75%); 
        height: auto; 
    }
    
    .logo-tecnm {
        position: absolute;
        top: calc(100% - 94%);
        left: calc(100% - 99.5%);
        width: calc(100% - 90%); 
        height: auto;  
    }
    
    .logo-ittepic {
        position: absolute;
        top: calc(100% - 95%);
        right: calc(100% - 99%);
        width: calc(100% - 94%); 
        height: auto; 
    }
    
    .top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
        position: absolute;
        top: 0;
        left: 0;
        padding-left: calc(100% - 55%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 500px; 
        background-color: #202d35; /* Color para el 20% */
        bottom: 0;
        padding-top: 2%;
        font-size: 60px;
    }
    
    .opciones { /* CONTENEDOR PARTE AZUL DE OPCIONES*/
        position: absolute;
        top: 12%;
        left: 0;
        padding-left: calc(100% - 50%); /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
        width: 100%;
        height: 9%; 
        background-color: #65A7D3; /* Color para el 20% */
        z-index: 9999;
        align-items: center;
        display: flex; /* Cambiar el modelo de diseño a flexbox */
        justify-content: center; /* Centrar horizontalmente los elementos */
    }
    
    .bottom-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 15%;
        padding-top: 1%;
        padding-left: 2%;
        width: 83%;
        height: 100%; /* 80% de la pantalla */
        background-color: #2A677C; /* Color para el 80% */
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
    }
    
    .bottom-section::-webkit-scrollbar {
        width: 12%; /* Ancho de la barra de desplazamiento */
    }

    .bottom-section::-webkit-scrollbar-thumb {
        background-color: #385c74; /* Color de la barra de desplazamiento */
        border-radius: 10%; /* Radio de la esquina de la barra de desplazamiento */
    }

    .fotosarchivo { 
        max-width: none; /* Asegura que la imagen respete el ancho fijo */
        width: 90%; 
        height: 15%;
        
    }

    input[type="archivo"]{
        border: 1px solid #ccc;
        border-radius: 30px;
        margin-left: 27%;
        padding: 10px;
        border: 1px solid #ccc;
    }

    
    input[type="archivo"],
    button {
        border: none;
        background-color: none;
        border-radius: 50px;
        margin-bottom: 0.5%;
        padding: 5px 10px;
        height: 70px;
        width: calc(100% - 60%);
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 50px; /* Cambiar el tamaño de la letra */
        margin-top: 1%;
    }

    input[type="archivo"]:focus,
    button:focus {
        outline: none;
        background-color: none;

    }

    h4{
        background-color: #65A7D3;
        color:rgb(255, 255, 255);
        cursor: pointer;
        transition: background-color 0.5s;
        text-align: absolute; /* Alinea el texto del botón al centro */
        border-radius: 50px;
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 99%; /* Cambiar el tamaño del texto */
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 9999;
        height: 10%; 
        width: auto;  
        left: -37%;
    }

    .left-section { /* CONTENEDOR PARTE AZUL DE LA IZQUIERDA*/
        position: absolute;
        top: 20%; /* Empezando después del 20% */
        left: 0px;
        width: 15%;
        height: 100%; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: calc(100% - 99%); /* Espacio arriba para separar cada opción de perfil*/
    }

    .left-section a {
        color: white;
        font-size: 50px;
        padding-left: calc(100% - 70%);
        text-decoration: none; /* Quita el subrayado predeterminado */
        display: block;
        margin-bottom: calc(100% - 80%); /* Espacio entre cada enlace */
        margin-top: calc(100% - 95%);
    }

    .left-section a:hover {
        left: calc(100%- 70%);
        text-decoration: underline; /* Añade subrayado al pasar el ratón */
        padding-left: calc(100%- 70%);
        font-size: (100% - 95%);
    }

    
    .fotosperfil {
        position: absolute;
        top: calc(100% - 98%);
        left: calc(100% - 95%);
        width: calc(100% - 80%); 
        height: auto;
        margin-bottom: calc(100% - 85%); 
        padding-top: calc(100% - 99%);
    }
    
    /* Estilos para el texto en los combobox */
    select {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #747272; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }
    
    /* Estilos para las opciones del combobox */
    option {
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 16px; /* Cambiar el tamaño del texto */
        color: #575656; /* Cambiar el color del texto */
        /* Otros estilos según tus preferencias */
    }
    
    .center-section { /* CONTENEDOR PARTE AZUL DEL CENTRO EN CATEGORIAS*/
        position: absolute;
        top: 0px; /* Empezando después del 20% */
        left: 135px;
        width: 590px;
        height: 512.8px; /* 80% de la pantalla */
        background-color: #0E3C54; /* Color para el 80% */
        padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
        padding-left: 300px;
    }
    
    .center-sectionwhite { /* CONTENEDOR PARTE BLANCA DEL CENTRO EN CATEGORIAS*/
        position: absolute;
        top: 100px; /* Empezando después del 20% */
        left: 30px;
        width: 520px;
        height: 530px; /* 80% de la pantalla */
        background-color: #ffffffe1; /* Color para el 80% */
        padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
        padding-left: 310px;
    }
    
    labeln{
        left: 13%;
        margin-left: 15%;
        font-weight: bold;
    }

    
    .carreracombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 50.5%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        margin-top: 2%;
        margin-right: 2%;
    }


    
    label {
        margin-left: 15%; /* Espacio entre el label y el combo */
        margin-top: 2%;
        margin-right: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .semestrecombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 90%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        align-items: center; 
        display: flex;
        margin-left: 2%;

    }

    .label1{
        margin-left: 55%;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .materiacombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height: 40px;
        width: 50px; /* Ajusta el ancho según sea necesario */
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        display: flex;
        align-items: center;
        margin-left: 2%;
    }
    

    .semestremateria{
        display: flex; 
        margin-left: 13.5%;
        font-weight: bold; /* Aplica negrita al texto */
        margin-top: 2%;
    }
    
    .label2 {
        margin-right: 30px; /* Espacio entre el label y el combo */
        margin-top: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }
    
    .label3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; /* Aplica negrita al texto */

    }

    .categoriacombo {
        border: none;
        border-radius: 50px;
        padding: 5px 10px;
        height:40px;
        width: 59%;
        text-align: left; /* Alinea el texto a la izquierda */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 100%; /* Cambiar el tamaño de la letra */
        align-items: center; 
        margin-top: 1%;
        display: flex;
        margin-left: 0%;
    
    }

    .categoriaizq {
       margin-left: 15%;
       display: flex;
       align-items: center; 
       font-weight: bold; /* Aplica negrita al texto */
        margin-top: 1%;
    }

    .buttonimg{
        display: inline-block; 
        margin-left: 0px;
        height: 48px; 
        width: 60px;
        top: 10%;
    }

    button {
        background-color: #65A7D3;
        color:rgb(255, 255, 255);
        cursor: pointer;
        transition: background-color 0.5s;
        text-align: center; /* Alinea el texto del botón al centro */
        font-family: Arial, sans-serif; /* Cambiar la fuente */
        font-size: 25px; /* Cambiar el tamaño del texto */
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50px;
        width: 200px;
        height:35px; 
        margin-left: 35%;
        margin-top: 3%;
        transition: transform 0.5s ease;

    }

    button:hover {
        background-color: #3e6681;
    }
    
    
    /* Estilo cuando se hace clic */
    button:active {
        transform: translateY(2px); /* Mueve el botón hacia abajo un poco al hacer clic */
    }


    .bottom-section a{
        font-weight: bold;
        text-decoration: none; /* Quita el subrayado predeterminado */
        color:white;
        align-items: center;
    }

    .bottom-section a:hover{
        text-decoration: underline;
    }


}