body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    position: relative;
    color: white;
}

.logo-nexus {
    position: absolute;
    top: 10px;
    left: 415px;
    width: 110px; 
    height: auto; 
}

.logo-nombrenexus {
    position: absolute;
    top: 17px;
    left: 535px;
    width: 400px; 
    height: auto; 
}

.logo-tecnm {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 170px; 
    height: auto; 
}

.logo-ittepic {
    position: absolute;
    top: 15px;
    left: 1240px;
    width: 100px; 
    height: auto; 
}

.container {
    position: relative;
    width: 1400px;
    height: 641px;
    overflow: hidden;
    position:absolute;
    
}

.top-section { /* CONTENEDOR PARTE AZUL DE ARRIBA*/
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 550px; /* PARA CENTRAR EL TEXTO DE TITULO AÑADIR ARCHIVO*/
    padding-top: 20px;
    width: 1400px;
    height: 128.2px; /* 20% de la pantalla */
    background-color: #202d35; /* Color para el 20% */
}

.bottom-section { /* CONTENEDOR PARTE AZUL DE ABAJO*/
    position: absolute;
    top: 20%; /* Empezando después del 20% */
    left: 200px;
    padding-left: 430px;
    width: 1200px;
    height: 512.8px; /* 80% de la pantalla */
    background-color: #2A677C; /* Color para el 80% */
    font-family: Arial, Helvetica, sans-serif;
}

.fotosarchivo {
    position: absolute;
    top: 60px;
    left: 400px;
    width: 125px; 
    height: auto; 
}

button { /* ESTE BOTON ES PARA SUBIR ARCHIVO*/
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el relleno */
    cursor: pointer;
    position: absolute;
    top: 350px;
    left: 510px;
    width: 150px; 
    height: auto; 
    text-align: center; /* Alinea el texto del botón al centro */
}

button:hover {
    background-color: #005fcc00;
}

/* Estilo cuando se hace clic */
button:active {
    transform: translateY(1px); /* Mueve el botón hacia abajo un poco al hacer clic */
}

.left-section { /* CONTENEDOR PARTE AZUL DE LA IZQUIERDA*/
    position: absolute;
    top: 20%; /* Empezando después del 20% */
    left: 0;
    width: 200px;
    height: 512.8px; /* 80% de la pantalla */
    background-color: #0E3C54; /* Color para el 80% */
    padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
}

.left-section a {
    color: white;
    font-size: 18px;
    padding-left: 70px;
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: block;
    margin-bottom: 35px; /* Espacio entre cada enlace */
    margin-top:20px
}

.left-section a:hover {
    left: 20px;
    text-decoration: underline; /* Añade subrayado al pasar el ratón */
    padding-left: 70px;
}


.fotosperfil {
    position: absolute;
    top: 22px;
    left: 15px;
    width: 45px; 
    height: auto; 
}

/* Estilos para el texto en los combobox */
select {
    font-family: Arial, sans-serif; /* Cambiar la fuente */
    font-size: 16px; /* Cambiar el tamaño del texto */
    color: #747272; /* Cambiar el color del texto */
    /* Otros estilos según tus preferencias */
}

/* Estilos para las opciones del combobox */
option {
    font-family: Arial, sans-serif; /* Cambiar la fuente */
    font-size: 16px; /* Cambiar el tamaño del texto */
    color: #575656; /* Cambiar el color del texto */
    /* Otros estilos según tus preferencias */
}

.center-section { /* CONTENEDOR PARTE AZUL DEL CENTRO EN CATEGORIAS*/
    position: absolute;
    top: 0px; /* Empezando después del 20% */
    left: 135px;
    width: 590px;
    height: 512.8px; /* 80% de la pantalla */
    background-color: #0E3C54; /* Color para el 80% */
    padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
    padding-left: 300px;
}

.center-sectionwhite { /* CONTENEDOR PARTE BLANCA DEL CENTRO EN CATEGORIAS*/
    position: absolute;
    top: 100px; /* Empezando después del 20% */
    left: 30px;
    width: 520px;
    height: 530px; /* 80% de la pantalla */
    background-color: #ffffffe1; /* Color para el 80% */
    padding-top: 15px; /* Espacio arriba para separar cada opción de perfil*/
    padding-left: 310px;
}

.back-button {
    position: absolute;
    bottom: 30px; /* Distancia desde la parte inferior */
    left: 25px; /* Distancia desde la parte izquierda */
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}